<span class="ela-orb" aria-hidden="true">
  <span class="ela-orb__ambient"></span>
  <span class="ela-orb__shell"></span>
  <span class="ela-orb__plasma">
    <span class="ela-orb__cloud ela-orb__cloud--one"></span>
    <span class="ela-orb__cloud ela-orb__cloud--two"></span>
    <span class="ela-orb__cloud ela-orb__cloud--vortex"></span>
  </span>
  <span class="ela-orb__core"></span>
  <span class="ela-orb__rim"></span>
  <span class="ela-orb__spec"></span>
  <span class="ela-orb__stars"></span>
</span>
