<span class="ela-orb" aria-hidden="true">
  <span class="ela-orb__ground"></span>
  <span class="ela-orb__ambient"></span>
  <span class="ela-orb__orbit ela-orb__orbit--particles ela-orb__orbit--back"><span class="ela-orb__spin"></span></span>
  <span class="ela-orb__orbit ela-orb__orbit--ring ela-orb__orbit--back"><span class="ela-orb__spin"></span></span>
  <span class="ela-orb__shell"></span>
  <span class="ela-orb__plasma">
    <span class="ela-orb__depth ela-orb__depth--far">
      <span class="ela-orb__cloud ela-orb__cloud--far-one"></span>
      <span class="ela-orb__cloud ela-orb__cloud--far-two"></span>
      <span class="ela-orb__cloud ela-orb__cloud--vortex"></span>
    </span>
    <span class="ela-orb__depth ela-orb__depth--near">
      <span class="ela-orb__cloud ela-orb__cloud--near-one"></span>
      <span class="ela-orb__cloud ela-orb__cloud--near-two"></span>
    </span>
  </span>
  <span class="ela-orb__drift"><span class="ela-orb__core"></span></span>
  <span class="ela-orb__occlusion"></span>
  <span class="ela-orb__sweep"></span>
  <span class="ela-orb__rim"></span>
  <span class="ela-orb__fresnel"></span>
  <span class="ela-orb__spec"></span>
  <span class="ela-orb__orbit ela-orb__orbit--ring ela-orb__orbit--front"><span class="ela-orb__spin"></span></span>
  <span class="ela-orb__orbit ela-orb__orbit--particles ela-orb__orbit--front"><span class="ela-orb__spin"></span></span>
</span>
