<dl class="ela-keyvalue">
  <div class="ela-keyvalue__pair">
    <dt class="ela-keyvalue__key">Action</dt>
    <dd class="ela-keyvalue__value">Send email to client</dd>
  </div>
  <div class="ela-keyvalue__pair">
    <dt class="ela-keyvalue__key">Reason</dt>
    <dd class="ela-keyvalue__value">Reply to project discussion</dd>
  </div>
  <div class="ela-keyvalue__pair">
    <dt class="ela-keyvalue__key">Task</dt>
    <dd class="ela-keyvalue__value ela-keyvalue__value--data">01J9Z3K8Q2 · 09:41:07</dd>
  </div>
</dl>
